<!DOCTYPE html>
<html ng-app="adsModule">
<head>
	<title>Angular Ads</title>
</head>


<link rel="stylesheet" href="css/bootstrap.min.css" />
<link rel="stylesheet" href="css/app.css" />
<body>


<div class="navbar navbar-default navbar-fixed-top">
	<div class="navbar-header">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<a class="navbar-brand" href="#/">Home</a>
				</div>
				<div class="col-md-5">
					<h1  class="navbar navbar-text  text-center">Ads Home</h1>
				</div>
				<div class="col-md-3">
					<div ng-controller="RegistrationController">
						<div class="navbar navbar-text navbar-right" data-ng-if="userData.isLoggedUser()">
							<div class="navbar-text">
								{{userData.getLoggedUser().username}}
							</div>
							<a href="" ng-click="logout()" class="navbar-brand">Logout</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="ng-view jumbotron">

</div>

<script src="lib/angular/angular.js"></script>
<script src="lib/angular/angular-route.min.js"></script>
<script src="js/app.js"></script>
<script src="js/controllers/Main-Controller.js"></script>
<script src="js/controllers/RegistrationController.js"></script>
<script src="js/controllers/CategoriesController.js"></script>
<script src="js/controllers/TownsController.js"></script>
<script src="js/services/mainPage.js"></script>
<script src="js/services/auth.js"></script>

</body>
</html>