

<div class="jumbotron">
    <div class="row">
        <div class="col-md-2" ng-controller="AppController">
            <div data-ng-include="'templates/layout/left-sidebar.html'"> </div>
        </div>

        <div class="col-md-5 col-md-offset-2" >
            <div class="well bs-component">
                <form class="form-horizontal col-centered" name="loginform" >
                    <fieldset>
                        <legend class="text-center">Login</legend>

                        <div class="form-group">
                            <label for="inputUsername" class="col-lg-3 control-label text-center" >Username:</label>
                            <div class="col-lg-7">

                                <input type="text" id="username" data-ng-model="userData.username" class="form-control input-sm" placeholder="Username" data-ng-required="true">

                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword" class="col-lg-3 control-label">Password:</label>
                            <div class="col-lg-7">
                                <input type="password" id="password" data-ng-model="userData.password" class="form-control input-sm" name='password'
                                       placeholder="Password" data-ng-required="true" ng-minlength="2"  >
                                <div class="errors" ng-class="{ active: loginform.password.$invalid && loginform.password.$dirty }">
                                    <div class="error ng-hide" ng-show="loginform.password.$error.minlength">
                                        <p>Password is longer than 2 characters.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-2 col-md-offset-4">
                                <button type="submit" class="btn btn-primary" ng-click="login(userData)">Login</button>
                            </div>
                                <div class="col-lg-4"><a href="#/register">Register here</a> </div>
                        </div>
                    </fieldset>
                </form>
                <div id="source-button" class="btn btn-primary btn-xs" style="display: none;">&lt; &gt;</div></div>
        </div>
    </div>

</div>