<div class="row" ng-if="loading">
    <div class="spinner" >
        <img src="img/progressbar1.gif" alt="" class="spinner-gif">
    </div>
</div>

<div data-ng-cloak>
<div ng-repeat="ad in ads.ads" >
    <div class="panel panel-primary">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-7 panel-body">
                        <h3 class="user-ad-title">
                            {{ad.title}}
                        </h3>
                    </div>

                    <div class="col-md-4">
                        <span class="date-panel text-info pull-right">
                           {{ad.date | date: 'dd-MMM-yyyy'}}
                       </span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3 image-container">
                        <img src="" data-ng-src="{{ad.imageDataUrl}}" class="ad-image img-responsive">
                        <img src="" alt="" data-ng-if="!ad.imageDataUrl" class="ad-image img-responsive" data-ng-src="img/no_image.jpg"/>
                    </div>

                    <div class="col-md-8">
                        <div class='well word-wrap-break'>
                            {{ad.text}}
                        </div>
                        <div class='row'>
                            <div class='col-md-3 '>
                                Name:
                            </div>
                            <div class='col-md-9 '>
                                <div class='form-control'>{{ad.ownerEmail}}</div>
                                </br>
                            </div>
                            <div class='col-md-3'>
                                Email:
                            </div>
                            <div class='col-md-9'>
                                <div class='form-control'>{{ad.ownerEmail}}</div>
                                </br>
                            </div>
                            <div class='col-md-3'>
                                Tel:
                            </div>
                            <div class='col-md-9'>
                                <div class='form-control'>{{ad.ownerPhone}}</div>
                                </br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>

    <div class="pagination" ng-if='numPages > 1'>
        <pagination total-items="ads.numItems"
                    ng-model="adsParams.startPage"
                    items-per-page="adsParams.pageSize"
                    ng-change="reloadAds()"
                    max-size="9"
                    boundary-links="true">
        </pagination>
    </div>
</div>






