<div class="panel panel-primary" ng-controller="RightSidebarController">
    <div class="panel-heading">
        <h3 class="panel-title">Town</h3>
    </div>
    <div class="panel-body" >
        <ul class="nav nav-pills">
            <li ng-class="{'active': 'all' == selectedTownId}">
                <a href="" data-ng-click="townClicked()"   >
                    All
                </a>
            </li>
        </ul>
        <ul class="nav nav-pills">
            <li ng-repeat="town in towns"
                ng-class="{'active': town.id == selectedTownId}">
                <a href="" data-ng-click="townClicked(town.id)"   >
                    {{town.name}}
                </a>
            </li>
        </ul>
    </div>
</div>