<div class="panel panel-primary" ng-controller="TownsController">
    <div class="panel-heading">
        <h3 class="panel-title">Town</h3>
    </div>
    <div class="panel-body" >
        <ul class="nav nav-pills nav-stacked">
        <li data-ng-class="{'active': 'all' == activeTown}">
            <a href="" ng-click="townClicked(0)">All Towns</a>
        </li>
        </ul>
        <ul class="nav nav-pills nav-stacked" ng-repeat="town in towns">
            <li data-ng-class="{'active': town.id == activeTown}" >
                <a href="" ng-click="townClicked(town)">{{town.name}}</a>
            </li>
        </ul>

    </div>
</div>