
    <div class="panel panel-primary" data-ng-controller="RightSidebarController">
        <div class="panel-heading">
            <h3 class="panel-title">Category</h3>
        </div>
        <div class="panel-body" >
            <ul class="nav nav-pills nav-stacked sidebar-menu" >
                <li ng-class="{'selected' : selectedCategoryId == null}"
                       ng-click="categoryClicked(null)">
                    All
                </li>
            </ul>
            <ul class="nav nav-pills nav-stacked sidebar-menu">
                <li ng-repeat="category in categories"
                    ng-click="categoryClicked(category.id)"
                    ng-class="{'selected' : selectedCategoryId == category.id}">
                    {{category.name}}
                </li>
            </ul>
        </div>
    </div>


