<div class="navbar navbar-default navbar-fixed-top" ng-controller="AppController" >
    <div class="navbar-header ">
        <div class="container ">
            <div class="row">
                <div class="col-md-4">
                    <a class="navbar-brand" href="#/"> <h4>Home</h4></a>
                </div>
                <div class="col-md-5">
                    <span ng-if="pageTitle" class="navbar navbar-text centered"><h4>Ads - {{pageTitle}}</h4></span>
                </div>
                <div class="col-md-3">
                    <div>
                        <div class="navbar navbar-text navbar-right" data-ng-if="authService.isLoggedIn()">
                            <div class="navbar-text">
                                {{authService.getCurrentUser().username}}
                            </div>
                            <a href="" ng-click="logout()" class="navbar-brand">Logout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>