

<div class="panel panel-primary"  data-ng-if="authService.isAnonymous()" >
    <div class="panel-heading">
        <h4 class="panel-title">To publish a new
            ad, please login.</h4>
    </div>
    <div class="panel-body text-center"  >
        <a href="#/login" class="btn btn-success">Login</a>
        <a href="#/register" class="btn btn-success">Register</a>
    </div>
</div>



<div class="bs-component" data-ng-if="authService.isNormalUser()" ng-controller="AppController">
    <div class="panel panel-primary">
        <div class="panel-heading user-panel-title" >
            <h4 class="panel-title text-center" >Navigation</h4>
        </div>
            <div class=" list-group">
                <a class="list-group-item" ng-class="getClass('/')" href="#/">Home</a>
                <a class="list-group-item" ng-class="getClass('/user/ads')"  href="#/user/ads">My Ads</a>
                <a class="list-group-item" ng-class="getClass('/user/ads/publish')"  href="#/user/ads/publish">Publish New Ad</a>
                <a class="list-group-item" ng-class="getClass('/user/profile')" href="#/user/profile">Edit Profile</a>
                <a class="list-group-item" ng-click="logout()">Logout</a>
            </div>
        </div>
    </div>

</div>

<div class="bs-component" ng-if="clickedMyAds" ng-controller="AppController">
    <div class="panel panel-primary">
        <div class="panel-heading user-panel-title" >
            <h4 class="panel-title text-center" >My Ads</h4>
        </div>
        <div class=" list-group">
            <a class="list-group-item" data-ng-click="selectAdStatus()" data-ng-class="{active: 'all' == adStatus}"  href >All</a>
            <a class="list-group-item" data-ng-click="selectAdStatus('Published')" data-ng-class="{active: 'Published' == adStatus}" href >Published</a>
            <a class="list-group-item" data-ng-click="selectAdStatus('WaitingApproval')" data-ng-class="{active: 'WaitingApproval' == adStatus}" href >Waiting Approval</a>
            <a class="list-group-item" data-ng-click="selectAdStatus('Inactive')" data-ng-class="{active: 'Inactive' == adStatus}" href >Inactive</a>
            <a class="list-group-item" data-ng-click="selectAdStatus('Rejected')" data-ng-class="{active: 'Rejected' == adStatus}" href >Rejected</a>
        </div>
    </div>
</div>

</div>

