

<div class="modal-header">
    <h3 class="modal-title">Are you sure you want to {{action.toLowerCase()}} this ad.</h3>
</div>

<div class="modal-body">
    <div class="panel panel-success">
        <div class='panel-body'>
            <div class='panel-heading centered'><legend>Confirm Deleting Ad?</legend></div>
            <div class='row'>
                <div class="col-md-8 word-wrap-break " >
                    <h3 class="ad-title">{{currentAd.title}}</h3>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 pull-right">
                    <span class="text-info pull-right"> {{currentAd.date | date:"EEE dd-MMM-yyyy"}} </span>
                </div>
            </div>
            <div class='row'>
                <div class='col-md-3 image-container'>
                    <img src="" data-ng-src="{{currentAd.imageDataUrl}}">
                </div>
                <div class='col-md-7 word-wrap-break' >
                    <div class='well'>
                        {{currentAd.text}}
                    </div>
                    <div class='row'>
                        <div class='col-md-4 pull-left '>
                            Category:
                        </div>
                        <div class='col-md-8 '>
                            <div class='form-control'>{{currentAd.categoryName}}</div>
                        </div>
                        <div class='col-md-4'>
                            Town:
                        </div>
                        <div class='col-md-8'>
                            <div class='form-control'>{{currentAd.townName}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer text-center" >
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>