<div class="jumbotron">
    <div class="row">
        <div class="col-md-2" ng-controller="AppController">
            <div data-ng-include="'templates/layout/left-sidebar.html'"> </div>

        </div>

        <div class="col-md-10" ng-controller="UserPublishNewAdController">
            <div class="well bs-component">
                <form class="form-horizontal" name="userEditProfile">
                    <fieldset>
                        <legend class="text-center">Publish New Ad</legend>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-lg-2 control-label" for="title">Title:</label>
                                    <input class="form-control" type="text" id="title" ng-model="adData.title" required />
                                </div>


                                <div class="form-group">
                                    <label class="col-lg-2 control-label" for="text">Text:</label>
                                    <textarea class="form-control"  id="text" ng-model="adData.text" required > </textarea>
                                </div>

                                <div class="form-group">
                                    <label class="col-lg-2 control-label" for="category">Category:</label>
                                    <select class="form-control" id="category" ng-model="adData.categoryId">
                                        <option value="null">(None)</option>
                                        <option ng-repeat="c in categories" value="{{c.id}}">{{c.name}}</option>
                                    </select>
                                </div>


                            </div>

                            <div class="col-md-1">

                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-lg-2 control-label" for="image">Image:</label>
                                    <input class="file" type="file" id="file-0" multiple=true id="file-10" title="Search for a file to add" onchange="angular.element(this).scope().fileSelected(this)" />
                                </div>


                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-2">
                                <a  ng-click="publishAd(adData)" class="btn btn-primary">Publish</a>
                                <a href="#/user/ads" class="btn btn-default">Cancel</a>
                            </div>
                        </div>
                    </fieldset>
                </form>
             </div>
        </div>
    </div>
</div>

<script type="text/javascript" src='js/picturePreview.js'></script>