<div class="jumbotron">
    <div class="row">
        <div class="col-md-2" ng-controller="AppController">
            <div data-ng-include="'templates/layout/left-sidebar.html'"> </div>
        </div>

        <div class="col-md-10" >
            <div class="well bs-component">
                <form class="form-horizontal" name="editform">
                    <fieldset>
                        <legend class="text-center">Edit Ad</legend>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-lg-2 control-label" for="title">Title:</label>
                                    <input class="form-control" type="text" id="title" ng-model="adForEdit.title" required />
                                </div>


                                <div class="form-group">
                                    <label class="col-lg-2 control-label" for="text">Text:</label>
                                    <textarea class="form-control"  id="text" ng-model="adForEdit.text" required > </textarea>
                                </div>

                                <div class="form-group" data-ng-controller="RightSidebarController">
                                    <label class="col-lg-2 control-label" for="category">Category:</label>
                                    <select  class='form-control' name="categoryId" id="category" ng-model="adForEdit.categoryId">
                                        <option value=''>No Category</option>
                                        <option value='{{category.id}}' data-ng-selected='adForEdit.categoryId == category.id' data-ng-repeat="category in categories">{{category.name}}</option>
                                    </select>
                                </div>


                                <div class="form-group" data-ng-controller="RightSidebarController">
                                    <label class="col-lg-2 control-label" for="town">Town:</label>
                                    <select  class='form-control' name="townId" id="town"  ng-model="adForEdit.townId">
                                        <option value='{{town.id}}' data-ng-selected='town.id == adForEdit.townId' data-ng-repeat="town in towns">{{town.name}}</option>
                                        <option value='' selected>Other</option>
                                    </select>
                                </div>


                            </div>

                            <div class="col-md-1">

                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-lg-2 control-label" for="imageInfo">Image:</label>
                                    <input type="file" id="imageInfo" accept="image/*" class="form-control input-sm"
                                           onchange="angular.element(this).scope().fileSelected(this)" />
                                </div>

                                <div class='form-group'>
                                    <div ><a class='btn btn-primary   button-size' type='submit' href=""  data-ng-click="changeImage(imageDataUrl,imageform)" >Change  Image</a></div>
                                    <div><a class='btn btn-primary  button-size' data-ng-click="deleteImage()"href="" >Delete  Image</a></div>
                                </div>

                                <div class='col-lg-4 publish-ad-image-container'>
                                <img id="thumbnil"  src="{{imageDataUrl}}" alt=""/>
                            </div>

                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-2">
                                <a data-ng-click="editUserAd(adForEdit.id, editform)" class="btn btn-primary">Publish</a>
                                <a href="#/user/ads" class="btn btn-default">Cancel</a>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

<!--<script type="text/javascript" src='js/picturePreview.js'></script>-->








