<div class="jumbotron">
    <div class="row">
        <div class="col-md-2" ng-controller="AppController">
            <div data-ng-include="'templates/layout/left-sidebar.html'"> </div>
        </div>

        <div class="col-md-10" >
            <div class="well bs-component">
                <form class="form-horizontal" name="editAdForm">
                    <fieldset>
                        <legend class="text-center">Edit Ad</legend>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-lg-2 control-label" for="title">Title:</label>
                                    <input type="text" id="title"  data-ng-model="adForEdit.title" class="form-control "  name='title' ng-minlength="4" ng-maxlength="50" ng-required="true">
                                    <span class="help-block">required*</span>
                                    <div class="errors" ng-class="{ active: editAdForm.title.$invalid && editform.title.$dirty }">
                                        <div class="error ng-hide" ng-show="editAdForm.title.$error.minlength">
                                            <p>Min Title lenght is 4.</p>
                                        </div>
                                        <div class="error ng-hide" ng-show="editAdForm.title.$error.maxlength">
                                            <p>Max Title length is 50, please shorten it.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-lg-2 control-label" for="text">Text:</label>
                                    <textarea rows='6' id="text" data-ng-model="adForEdit.text" class="form-control "  placeholder="text" name='adText' ng-minlength='10' ng-maxlength='285' ng-required="true"></textarea>
                                        <span class="help-block">Description about the ad
                                          required*</span>
                                    <div class="errors" ng-class="{ active: editAdForm.adText.$invalid && editform.adText.$dirty }" required>
                                        <div class="error ng-hide" ng-show="editAdForm.adText.$error.minlength">
                                            <p>Min Text lenght  is 10.</p>
                                        </div>
                                        <div class="error ng-hide" ng-show="editAdForm.adText.$error.maxlength">
                                            <p>Max Text length is 285, please shorten it.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="image" class="control-label">Image:</label>
                                        <div class="input-group">
                                            <span class="input-group-btn">
                                                <span class="btn btn-primary btn-file">Browse…
                                                <input type="file" multiple="" id="image" onchange="angular.element(this).scope().fileSelected(this)" />
                                                </span>
                                            </span>
                                                <input type="text" class="form-control image-title" readonly="" value="" />
                                        </div>
                                </div>

                                <div class="form-group" data-ng-controller="RightSidebarController">
                                    <label class="col-lg-2 control-label" for="category">Category:</label>
                                    <select  class='form-control' name="categoryId" id="category" ng-model="adForEdit.categoryId">
                                        <option value=''>No Category</option>
                                        <option value='{{category.id}}' data-ng-selected='adForEdit.categoryId == category.id' data-ng-repeat="category in categories">{{category.name}}</option>
                                    </select>
                                </div>

                                <div class="form-group" data-ng-controller="RightSidebarController">
                                    <label class="col-lg-2 control-label" for="town">Town:</label>
                                    <select  class='form-control' name="townId" id="town"  ng-model="adForEdit.townId">
                                        <option value='{{town.id}}' data-ng-selected='town.id == adForEdit.townId' data-ng-repeat="town in towns">{{town.name}}</option>
                                        <option value='' selected>Other</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-1">

                            </div>

                            <div class="col-md-4" >
                                <div class="row">
                                    <div class='col-lg-9 publish-ad-image-container col-lg-offset-2'>
                                        <img class="ad-image" id="thumbnil"  src="{{imageDataUrl}}" alt=""/>
                                        <img src="" class="ad-image img-responsive" data-ng-if="!imageDataUrl"  data-ng-src="img/no_image.jpg"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <hr>
                                </div>
                                <div class="row">
                                    <div class='form-group'>
                                        <div class="row text-center">
                                            <div class="col-md-6">
                                                <div ><a class='btn btn-primary   button-size' type='submit' href=""  data-ng-click="changeImage(imageDataUrl,imageform)" >Change Image</a></div>
                                            </div>
                                            <div class="col-md-6">
                                                <div><a class='btn btn-primary  button-size' data-ng-click="deleteImage()"href="" >Delete  Image</a></div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-2">
                                <a type="submit" href="" class="btn btn-primary col-lg-offset-2" data-ng-click="editUserAd(adForEdit.id,editAdForm)" ng-class="{ 'btn-primary': editAdForm.$valid && editAdForm.$dirty, 'btn-success': redirect }"
                                   ng-disabled="editAdForm.$invalid">Edit</a>
                                <a href="#/user/ads" class="btn btn-default">Cancel</a>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>









