<div class="jumbotron">
    <div class="row">
        <div class="col-md-2" ng-controller="AppController">
            <div data-ng-include="'templates/layout/left-sidebar.html'"> </div>
        </div>

        <div class="col-md-10" >
            <div class="well bs-component">
                <form class="form-horizontal" name="editform">
                    <fieldset>
                        <legend class="text-center">Edit Ad</legend>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-lg-2 control-label" for="title">Title:</label>
                                    <input class="form-control" type="text" id="title" ng-model="adForEdit.title" required />
                                </div>

                                <div class="form-group">
                                    <label class="col-lg-2 control-label" for="text">Text:</label>
                                    <textarea class="form-control"  id="text" ng-model="adForEdit.text" required > </textarea>
                                </div>

                                <div class="form-group">
                                    <label for="image" class="control-label">Image:</label>
                                        <div class="input-group">
                                            <span class="input-group-btn">
                                                <span class="btn btn-primary btn-file">Browse…
                                                <input type="file" multiple="" id="image" onchange="angular.element(this).scope().fileSelected(this)" />
                                                </span>
                                            </span>
                                                <input type="text" class="form-control image-title" readonly="" value="" />
                                        </div>
                                </div>

                                <div class="form-group" data-ng-controller="RightSidebarController">
                                    <label class="col-lg-2 control-label" for="category">Category:</label>
                                    <select  class='form-control' name="categoryId" id="category" ng-model="adForEdit.categoryId">
                                        <option value=''>No Category</option>
                                        <option value='{{category.id}}' data-ng-selected='adForEdit.categoryId == category.id' data-ng-repeat="category in categories">{{category.name}}</option>
                                    </select>
                                </div>

                                <div class="form-group" data-ng-controller="RightSidebarController">
                                    <label class="col-lg-2 control-label" for="town">Town:</label>
                                    <select  class='form-control' name="townId" id="town"  ng-model="adForEdit.townId">
                                        <option value='{{town.id}}' data-ng-selected='town.id == adForEdit.townId' data-ng-repeat="town in towns">{{town.name}}</option>
                                        <option value='' selected>Other</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-1">

                            </div>

                            <div class="col-md-4" >
                                <div class="row">
                                    <div class='col-lg-9 publish-ad-image-container col-lg-offset-2'>
                                        <img class="ad-image" id="thumbnil"  src="{{imageDataUrl}}" alt=""/>
                                        <img src="" class="ad-image img-responsive" data-ng-if="!imageDataUrl"  data-ng-src="img/no_image.jpg"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <hr>
                                </div>
                                <div class="row">
                                    <div class='form-group'>
                                        <div class="row text-center">
                                            <div class="col-md-6">
                                                <div ><a class='btn btn-primary   button-size' type='submit' href=""  data-ng-click="changeImage(imageDataUrl,imageform)" >Change Image</a></div>
                                            </div>
                                            <div class="col-md-6">
                                                <div><a class='btn btn-primary  button-size' data-ng-click="deleteImage()"href="" >Delete  Image</a></div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-2">
                                <a data-ng-click="editUserAd(adForEdit.id, editform)" class="btn btn-primary">Publish</a>
                                <a href="#/user/ads" class="btn btn-default">Cancel</a>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>









