<div class="jumbotron">
    <div class="row">
        <div class="col-md-2" ng-controller="AppController">
            <div data-ng-include="'templates/layout/left-sidebar.html'"> </div>
        </div>

        <div class="col-md-10" ng-controller="UserPublishNewAdController">
            <div class="well bs-component">
                <form class="form-horizontal" name="userEditProfile">
                    <fieldset>
                        <legend class="text-center">Publish New Ad</legend>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-lg-2 control-label" for="title">Title:</label>
                                    <input type="text" id="title" data-ng-model="adData.title" class="form-control " placeholder="Title" autofocus="true" name='title' ng-minlength="4" ng-maxlength="50" ng-required="true" required>
                                    <span class="help-block">required*</span>
                                    <div class="errors" ng-class="{ active: userEditProfile.title.$invalid && userEditProfile.title.$dirty }">
                                        <div class="error ng-hide" ng-show="userEditProfile.title.$error.minlength">
                                            <p>Min Title lenght is 4.</p>
                                        </div>
                                        <div class="error ng-hide" ng-show="userEditProfile.title.$error.maxlength">
                                            <p>Max Title length is 50, please shorten it.</p>
                                        </div>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="col-lg-2 control-label" for="text">Text:</label>
                                    <textarea type="password" rows='6' id="text" data-ng-model="adData.text" class="form-control " placeholder="text" name='adText' ng-minlength='10' ng-maxlength='285' ng-required="true"></textarea>
                                      <span class="help-block">Description about the ad required*</span>
                                    <div class="errors" ng-class="{ active: userEditProfile.adText.$invalid && publishad.adText.$dirty }" required>
                                        <div class="error ng-hide" ng-show="userEditProfile.adText.$error.minlength">
                                            <p>Min Text lenght  is 10.</p>
                                        </div>
                                        <div class="error ng-hide" ng-show="userEditProfile.adText.$error.maxlength">
                                            <p>Max Text length is 285, please shorten it.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-lg-2 control-label" for="category">Category:</label>
                                    <select class="form-control" id="category" ng-model="adData.categoryId">
                                        <option value="null">(None)</option>
                                        <option ng-repeat="c in categories" value="{{c.id}}">{{c.name}}</option>
                                    </select>
                                </div>


                                <div class="form-group">
                                    <label class="col-lg-2 control-label" for="town">Town:</label>
                                    <select class="form-control" id="town" ng-model="adData.townId">
                                        <option value="null">(None)</option>
                                        <option ng-repeat="t in towns" value="{{t.id}}">{{t.name}}</option>
                                    </select>
                                </div>


                            </div>

                            <div class="col-md-1">

                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-lg-2 control-label" for="image">Image:</label>
                                    <input class="file" type="file" id="file-0" multiple=true id="file-10" title="Search for a file to add" onchange="angular.element(this).scope().fileSelected(this)" />
                                </div>


                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-2">
                                <a type="submit" href="" class="btn btn-primary col-lg-offset-2" data-ng-click="publishAd(adData)" ng-class="{ 'btn-primary': userEditProfile.$valid && userEditProfile.$dirty, 'btn-success': redirect }"
                                   ng-disabled="userEditProfile.$invalid || userEditProfile.$pristine">Publish</a>



                                <a href="#/user/ads" class="btn btn-default">Cancel</a>
                            </div>
                        </div>
                    </fieldset>
                </form>
             </div>
        </div>
    </div>
</div>

<script type="text/javascript" src='js/picturePreview.js'></script>