<div class="col-md-2" ng-controller="AppController">
    <div data-ng-include="'templates/layout/left-sidebar.html'"> </div>
</div>

<ul id="ul">
    <li ng-repeat="ad in userAds.ads">
        <div class="container well">
            <div class="row">
                <div class="col-md-7">
                    <h3 class="pull-left">
                        {{ad.title}}
                    </h3>
                </div>
                <div class="col-md-5">
                       <span class="pull-right">
                           {{ad.date | date: 'dd-MMM-yy'}}
                       </span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <img class="ad-image" src="" ng-src="{{ad.imageDataUrl}}" >
                </div>
                <div class="col-md-8">
                    <div>
                        {{ad.text}}
                    </div>
                    <div>
                        Text:  {{ad.text}}<br/>
                        status:  {{ad.status}}<br/>
                        Category:  {{ad.categoryName}}<br/>
                        Town:  {{ad.townName}}<br/>
                    </div>
                </div>
            </div>
            <div>
                <div ng-switch="ad.status">
                    <div ng-switch-when="Published"> <a type="submit" href="" class="btn btn-primary" data-ng-click="deactivateAdStatus(ad.id)">Deactivate</a>
                    </div>
                    <div ng-switch-when="WaitingApproval" ><a type="submit" href="" class="btn btn-primary" data-ng-click="deactivateAdStatus(ad.id)">Deactivate</a>
                    </div>
                    <div ng-switch-when="Inactive">
                        <div class='form-group'><a type="submit" href="" class="btn btn-primary" data-ng-click="">Edit</a>
                        </div>
                        <div class='form-group'><a type="submit" href="" class="btn btn-primary" data-ng-click="publishAgainAd(ad.id)">Publish Again</a>
                        </div>
                        <div class='form-group'><a type="submit" data-ng-click="deleteUserAd(ad.id)" class="btn btn-primary" data->Delete</a>
                        </div>
                    </div>
                    <div ng-switch-when="Rejected"> Rejected
                    </div>
                    <div ng-switch-default>Unknown</div>
                </div>
            </div>
        </div>
    </li>
</ul>